@charset "UTF-8";
/* ========================================================== */
/* Global Imports */
/* ========================================================== */
/* ========================================================== */
/* Base Imports */
/* ========================================================== */
/* ========================================================== */
/* Variables */
/* ========================================================== */
/* ========================================================== */
/* Body Elements */
/* ========================================================== */
@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&family=Yellowtail&display=swap");
body {
  display: flex;
  flex-direction: column;
  margin: 0 0 8px;
  background-color: rgb(62, 122, 110);
  font-family: "Courier New", Courier, monospace;
  font-optical-sizing: auto;
  font-style: normal;
  min-height: 100vh;
}

/* ========================================================== */
/* Main Elements */
/* ========================================================== */
main {
  background-color: rgb(147, 153, 187);
  border: #000 solid 2px;
  border-radius: 40px 15px 40px 15px;
  padding: 20px;
  margin-top: 120px;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: inset 0 0 20px 10px rgba(0, 10, 30, 0.8);
}

/* ========================================================== */
/* List Elements */
/* ========================================================== */
ul li {
  list-style: none;
}

.topSkill {
  font-weight: bold;
  font-size: large;
}

/* ========================================================== */
/* Generic Elements */
/* ========================================================== */
.center {
  margin: 2rem auto;
}

a {
  color: rgb(61, 60, 172);
}

/* ========================================================== */
/* Page Specific Styling Elements */
/* ========================================================== */
body.PaperPage {
  background-color: rgb(48, 27, 4);
  background-image: url(https://img.freepik.com/premium-vector/vintage-wooden-background-cartoon-brown-wood-table-great-design-any-purposes_450469-201.jpg);
  background-repeat: repeat;
  background-size: 100%;
  background-attachment: fixed;
}
body.PaperPage main {
  background: url(https://media.istockphoto.com/id/182154211/photo/old-paper-textere.webp?b=1&s=170667a&w=0&k=20&c=ym_eO6PKLl6itLgksTBO-ykUVtQwYabUfWXYyuL2iCU=) center/cover papayawhip;
  background-size: 100%;
  box-shadow: inset 0 0 20px 10px rgba(30, 11, 0, 0.8);
  font-family: "Merienda", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}
body.PaperPage .devlogs {
  background-color: rgb(76, 59, 102);
  border: #000 solid 2px;
  border-radius: 15px 15px 40px 15px;
  text-align: left;
  line-height: 1;
  padding-top: 0px;
  box-shadow: inset 0 0 10px 5px rgba(44, 19, 3, 0.8);
  background: url(https://img.itch.zone/aW1hZ2UvMjMyNDk1MC8xNDkyMTA4NS5wbmc=/original/EzDSge.png) center/cover no-repeat rgb(94, 82, 66);
  background-blend-mode: exclusion;
}

/* ========================================================== */
/* Layout Imports */
/* ========================================================== */
/* ========================================================== */
/* Devlog Elements */
/* ========================================================== */
.devlogs h3 {
  background-color: #888;
  text-align: center;
}

.devlogs {
  font-weight: bolder;
  padding: 40px;
}

.devlogs footer {
  text-align: right;
  padding-top: 0px;
  padding-bottom: 20px;
  background-color: #000;
}

/* Combinator: Use > to target direct children */
.devlogs > li {
  width: 100%;
}

ol[class=devlogs] > li:nth-of-type(odd) {
  background-color: #888;
}

/* Gets the last item in the devlogs list and then gets the anchor tag within
    Then it adds a red new text before */
ol[class=devlogs] > li:nth-last-of-type(1) > a::before {
  content: "*NEW* ";
  color: red;
}

/* Checkbox styling to hide older devlogs */
input[type=checkbox] {
  margin-bottom: 2rem;
}

input[type=checkbox]:not(:checked) ~ li {
  display: none;
}

input[type=checkbox]:not(:checked) ~ li:nth-last-of-type(1) {
  display: list-item;
}

/* ========================================================== */
/* Footer Elements */
/* ========================================================== */
footer {
  margin-top: 20px;
  color: #fff;
  background-color: rgb(49, 49, 49);
}

footer p {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 2.5rem;
}

/* ========================================================== */
/* Header Elements */
/* ========================================================== */
#top {
  font-optical-sizing: auto;
  font-style: normal;
  color: #fff;
}

header {
  max-width: 100%;
  padding: 1em 1em;
  text-align: center;
  background-color: rgb(22, 22, 22);
}

header h1 {
  width: 100%;
  height: 100%;
}

/* ========================================================== */
/* Img Gallery Elements */
/* ========================================================== */
#Screenshots .flexContainer {
  justify-content: center;
}

#Screenshots img {
  width: 100%;
  height: auto;
  max-width: 300px;
  border: 0px;
  padding: 0px;
}

#Gallery .grid {
  justify-content: center;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: auto;
  grid-auto-rows: auto;
  grid-gap: 5px;
}

#Gallery .grid img {
  width: 100%;
  height: auto;
}

/* ========================================================== */
/* Navbar Elements */
/* ========================================================== */
nav {
  margin-bottom: 20px;
}

.navbar {
  width: 100%;
  background-color: rgb(49, 49, 49);
  top: 0vh;
}

.navbar .item {
  max-width: 100%;
  flex-grow: 1;
}

.navbar .item .social {
  max-width: 100%;
}

.navbar ul {
  width: 100%;
  margin: 0 auto;
  /* margin: 0 15em 0; */
}

#socialnavbuttonstart {
  margin-right: auto;
}

/* Combinator: Use + to get immediate siblings of type
                Use ~ to select all siblings of type
#socialnavbuttonstart + div
{
    margin-left: auto;
    background-color: black;
}
*/
.navbar .rightAligned {
  justify-content: right;
}

ul {
  padding-inline-start: 0px;
}

.navbar li {
  display: block;
  width: 100%;
  font-optical-sizing: auto;
  font-style: normal;
}

/* ========================================================== */
/* Project Elements */
/* ========================================================== */
.ProjectCollection {
  justify-content: space-around;
}

.ProjectOverview {
  display: flex;
  background-color: #888;
}

/* ========================================================== */
/* Details Elements */
/* ========================================================== */
#Details .flexContainer,
.ProjectOverview {
  flex-direction: column;
  align-items: center;
}

#Details section {
  margin-bottom: auto;
  flex: 1;
}

#Details section p::first-letter {
  float: left;
  font-size: 3em;
  color: #000;
  margin-right: -0.5rem;
  line-height: 0.5;
}

#Details article {
  flex: 1.1;
}

/* ========================================================== */
/* Component Imports */
/* ========================================================== */
/* ========================================================== */
/* Button Elements */
/* ========================================================== */
.button {
  display: block;
  max-width: 200px;
  padding: 0 0;
  text-align: center;
  font-weight: bold;
  border: solid 3px;
  border-radius: 20px/10px;
  /* background-color: rgba(52, 51, 104, 0.75); */
  background-image: linear-gradient(130deg, rgba(79, 78, 134, 0.75) 0%, rgb(255, 255, 255) 25%, rgba(79, 78, 134, 0.75) 50%, rgba(52, 51, 104, 0.75));
  /* Darker border at bottom and lighter border at top to appear 3D */
  border-color: rgb(147, 129, 211) rgb(78, 77, 139) rgb(22, 21, 63);
  box-shadow: inset 0 0 20px 10px rgba(0, 10, 30, 0.8), 3px 4px 5px rgba(10, 10, 10, 0.8);
}

.button:hover {
  cursor: pointer;
}

/*When tabbed to*/
.button a {
  display: block;
  padding: 0.25rem;
  text-align: center;
}

/* ========================================================== */
/* Button Decoration Elements */
/* ========================================================== */
#back-to-top {
  font-size: 1.3rem;
  display: block;
  text-align: center;
}

/* Adds arrows pointing up */
#back-to-top::before, #back-to-top::after {
  content: "↑";
}

/* Adds arrows for external links that open a tab */
a[target=_blank]::after {
  content: "⇗";
  margin-left: 10px;
}

/* Adds an envelope before the mail link */
.mail::before {
  content: "✉";
}

/* ========================================================== */
/* Flexbox Elements */
/* ========================================================== */
.flexContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.row {
  flex: 1;
}

.InProgress a {
  color: rgb(8, 25, 75);
}

/* ========================================================== */
/* Button Extends
/* ========================================================== */
.button:hover, .button:focus, .current {
  background-image: linear-gradient(-45deg, rgba(79, 78, 134, 0.75) 0%, rgb(255, 255, 255) 25%, rgba(79, 78, 134, 0.75) 50%, rgba(52, 51, 104, 0.75));
  background-color: rgb(61, 60, 172);
  border-color: #000;
  box-shadow: inset 0 0 20px 10px rgba(0, 10, 30, 0.8);
}

.button, .button a, .button a:visited {
  color: #fff;
  text-decoration: #fff;
}

/* ========================================================== */
/* Media Queries */
/* ========================================================== */
@media print {
  .navbar {
    display: none;
  }
  .button {
    display: none;
  }
  #back-to-top {
    display: none;
  }
}
@media screen and (min-width: 580px), (orientation: landscape) {
  .navbar {
    position: sticky;
  }
  .navbar .button {
    flex-grow: 0;
  }
  .navbar li {
    display: inline-block;
    width: 120px;
    font-family: "Courier New", Courier, monospace;
    font-optical-sizing: auto;
    font-style: normal;
  }
}
@media screen and (min-width: 671px) {
  #Gallery .grid .item:first-child {
    grid-row: 1/3;
    grid-column: 1/-1;
  }
}
@media screen and (min-width: 981px) {
  #Gallery .grid .item:first-child {
    grid-row: 1/3;
    grid-column: 1/3;
  }
  #Gallery .grid .item:nth-child(2) {
    grid-row: 1/2;
  }
  #Gallery .grid .item:nth-child(6) {
    grid-row: 3/5;
    grid-column: -3/-1;
  }
}
@media screen and (min-width: 1047px), (orientation: landscape) {
  #Details article {
    margin-left: 3rem;
    flex: 1.2;
  }
  #Details .flexContainer {
    flex-direction: row;
    justify-content: space-between;
  }
  #Details .flexContainer {
    flex-wrap: nowrap;
  }
}
@media screen and (min-width: 1091px) {
  #Gallery .grid .item:first-child {
    grid-row: 1/4;
    grid-column: 1/4;
  }
  #Gallery .grid .item:nth-child(2) {
    grid-column: 1/3;
    grid-row: 4/6;
  }
  #Gallery .grid .item:nth-child(3) {
    grid-column: -2/-1;
    grid-row: 4/5;
  }
  #Gallery .grid .item:nth-child(4) {
    grid-column: -2/-1;
    grid-row: 5/6;
  }
  #Gallery .grid .item:nth-child(6) {
    grid-column: initial;
    grid-row: initial;
  }
}
@media screen and (min-width: 1275px) {
  #Details article {
    flex: 1.4;
  }
}
.debug {
  border: 5px solid red;
}

/* ========================================================== */
/* Notes */
/* ========================================================== */
/* a[href^="http:"]
{
    Selects all links that start with http:
}
*/
/*
a[href$=".com"]
{
    Selects all links that end with with .com
}
*/
/*
a[href*="games"]
{
    Selects all links that contain the word games
}
*/
/*
li:nth-child(2n + 3)
{
    Selects all list items with gaps of 2, starting at 3
}
li:nth-child(-n + 3)
{
    Selects 3 and all list items before it
}
li:nth-of-type(2n + 3)
{
    Selects all list items with gaps of 2, starting at 3
    nth of type ignores other element types that are between them
}
*/
/* 
:root
{
    Selects the root of the page (usually the html element)
}
:target
{
    Selects the targetted element
}
div:not(#heading)
{
    Selects all divs that do not have the heading id
}
*/

/*# sourceMappingURL=application.css.map */
