/* ========================================================== */
/* Notes */
/* ========================================================== */

a[href^="http:"]
{
    //Selects all links that start with http:
}

a[href$=".com"]
{
    //Selects all links that end with with .com
}

a[href*="games"]
{
    //Selects all links that contain the word games
}

li:nth-child(2n + 3)
{
    //Selects all list items with gaps of 2, starting at 3
}
li:nth-child(-n + 3)
{
    //Selects 3 and all list items before it
}
li:nth-of-type(2n + 3)
{
    //Selects all list items with gaps of 2, starting at 3
    //nth of type ignores other element types that are between them
}

:root
{
    //Selects the root of the page (usually the html element)
}
:target
{
    //Selects the targetted element
}
div:not(#heading)
{
    //Selects all divs that do not have the heading id
}

//Lists
$listHere: ("item1", "item2", "item3");

@for $i from 1 through 10
{
    .box-#{$i}
    {
        color: adjust-hue(tomato, $i * 20);
    }
}

@each $item in $listHere
{
    div-#{$item}
    {
        background-image: url("img/#{$item}.jpg");
    }
}