@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&family=Yellowtail&display=swap');

/* ========================================================== */
/* Media Queries */
/* ========================================================== */

@media print
{
    .navbar
    {
        display:none;
    }
    .button
    {
        display:none;
    }

    #back-to-top
    {
        display:none;
    }
}

.debug
{
    border: 5px solid red;
}