@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&family=Yellowtail&display=swap');

*
{
    font-family: 'Courier New', Courier, monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

body.EnfablerPage
{
    /* Not implemented properly */
    background-color: rgb(48, 27, 4);
    font-family: "Merienda", cursive;
    font-optical-sizing: auto;
    font-style: normal;
}

body
{
    background-color: rgb(62, 122, 110);
}

.InProgress
{
    color: rgb(8, 25, 75)
}

.devlogs
{
    background-color: rgb(94, 82, 66);
    border: rgb(0, 0, 0) solid 2px;
    border-radius: 20px;
    text-align: left;
    padding: 40px;
    line-height: 1.5;

    padding-top: 0px;
}

.devlogs h3
{
    text-align: center;
}

header, main, footer
{
    max-width: 1200px;
    margin: 0 auto;
}

footer
{
    font-family: 'Courier New', Courier, monospace;
}

main
{
    background-color: rgb(255, 255, 255);
    border: rgb(0, 0, 0) solid 2px;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
}

#Enfabler-Main
{
    background-color: rgb(160, 152, 136);
}

nav
{
    margin-bottom: 20px;
}

footer
{
    margin-top: 20px;
}

.button
{
    border: rgb(255, 255, 255) solid 3px;
    background-color: rgb(52, 51, 104);
    max-width: 200px;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    color: rgb(255, 255, 255);
    margin: 0 auto;
    
    padding: 20px;
    font-weight: bold;
    text-align: center;
}

.button a
{
    color: rgb(255, 255, 255);
    text-align: center;
}

a
{
    color: rgb(55, 12, 136);
}

#Details
{
    line-height: 1;
}

#Details div
{
    display: inline-block;
    max-width: 50%;
}

#Screenshots img
{
    display: inline-block;
    max-width: 400px;
}

#back-to-top
{
    display: block;
    text-align: right;
}