/* ========================================================== */
/* Footer Elements */
/* ========================================================== */

footer
{
    margin-top: 20px;
    color:$color-text-light;
    background-color: $color-footer;
}

footer p
{
    margin-top: 0px;
    margin-bottom: 0px;

    padding: 2.5rem;
}