/* ========================================================== */
/* Footer Elements */
/* ========================================================== */

footer
{
    font-family: 'Courier New', Courier, monospace;
    margin-top: 20px;
    color:white;
    background-color: rgb(65, 65, 65);
}

footer p
{
    margin-top: 0px;
    margin-bottom: 0px;

    padding: 2.5rem;
}