/* ========================================================== */
/* Navbar Elements */
/* ========================================================== */

nav
{
    z-index: 1;
    margin-bottom: 20px;

    &.navbar
    {
        width: 100%;
        background-color: $color-navbar;
        
        top:0vh;
    }

    &.navbar .item
    {
        max-width: 100%;
        flex-grow: 1;
    }

    &.navbar ul
    {
        width: 100%;
        margin: 0 auto;
        /* margin: 0 15em 0; */
    }

    #socialnavbuttonstart
    {
        margin-right: auto;
    }

    /* Combinator: Use + to get immediate siblings of type
                    Use ~ to select all siblings of type
    #socialnavbuttonstart + div
    {
        margin-left: auto;
        background-color: black;
    }
    */

    &.navbar .rightAligned
    {
        justify-content: right;
    }

    &.navbar li
    {
        display: block;
        width: 100%;

        font-optical-sizing: auto;
        font-style: normal;
    }

    @media #{$brk-narrow}
    {
        &.navbar
        {
            position: sticky;
        }

        &.navbar .button
        {
            flex-grow: 0;
        }

        &.navbar li
        {
            display: inline-block;
            width: 120px;

            font-family: $fontstack-default;
            font-optical-sizing: auto;
            font-style: normal;
        }
    }
}