/* ========================================================== */
/* Project Elements */
/* ========================================================== */

.ProjectCollection
{
    justify-content: space-around;
}

.ProjectOverview
{
    display: flex;
    background-color: rgb(97, 97, 97);
}