/* ========================================================== */
/* Project Elements */
/* ========================================================== */

.ProjectCollection
{
    justify-content: space-around;
}

.ProjectOverview
{
    display: flex;
    background-color: $grey;
}