/* ========================================================== */
/* Button Elements */
/* ========================================================== */

.button
{
    @extend %textvalues;
    @include btnstyle();

    display: block;
    max-width: 200px;
    padding: 0 0;

    text-align: center;
    font-weight: bold;
    //border: solid 3px;
    border-radius: 20px/10px;

    a
    {
        @extend %textvalues;

        display: block;
        padding: 0.25rem;
        text-align: center;
    }

    a:visited
    {
        @extend %textvalues;
    }

    &:hover
    {
        @include btnstyle($color-button-pushed, $color-navbutton-pushed, -45deg, $shadow-none, $btn-shadow-inset-small);
        cursor: pointer;
    }

    //When tabbed to
    &:focus
    {
        @include btnstyle($color-button-pushed, $color-navbutton-pushed, -45deg, $shadow-none, $btn-shadow-inset-small);
    }

    &.current
    {
        @include btnstyle($color-button-pushed, $color-navbutton-pushed, -45deg, $shadow-none, $shadow-none);
    }
}

/* ========================================================== */
/* Button Decoration Elements */
/* ========================================================== */

#back-to-top
{
    font-size: 1.3rem;
    display: block;
    text-align: center;
}

/* Adds arrows pointing up */
#back-to-top::before, #back-to-top::after
{
    content: "\2191";
}

/* Adds arrows for external links that open a tab */
a[target="_blank"]::after
{
    content: "\21D7";
    margin-left: 10px;
}

/* Adds an envelope before the mail link */
.mail::before
{
    content: "\2709";
}
