/* ========================================================== */
/* Button Extends
/* ========================================================== */

%nav
{
    background-image: none;
    border-color: none;
    border-radius: 0px;
}

%textvalues
{
    color: $color-text-light;
    text-decoration: $color-text-light;
}