/* ========================================================== */
/* Button Extends
/* ========================================================== */

//On mouse hover, targetted or current page
%pushed
{
    background-image: linear-gradient(-45deg, rgba(79, 78, 134, 0.75) 0%, rgb(255, 255, 255) 25%, rgba(79, 78, 134, 0.75) 50%, rgba(52, 51, 104, 0.75));
    background-color: rgb(61, 60, 172);
    border-color: rgb(0, 0, 0);
    box-shadow: inset 0 0 20px 10px rgba(0, 10, 30, 0.8);
}

%textvalues
{
    color: rgb(255, 255, 255);
    text-decoration: white;
}