.videogallery
{
	justify-content: center;
	align-items: center;
	margin-top: 10px;
	width: 100vw;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 560px));
}

.showreel
{
	width: 100%;
	object-fit: fill;
}

.showreel iframe 
{
	width: 1120px;
	height: 630px;
}
