/* ========================================================== */
/* Body Elements */
/* ========================================================== */

body
{
    display: flex;
    flex-direction: column;
    margin: 0 0 8px;
    background-color: rgb(62, 122, 110);
    font-family: 'Courier New', Courier, monospace;
    font-optical-sizing: auto;
    font-style: normal;

    min-height: 100vh;
}

/* ========================================================== */
/* Main Elements */
/* ========================================================== */

main
{
    background-color: rgb(147, 153, 187);
    border: rgb(0, 0, 0) solid 2px;
    border-radius: 40px 15px 40px 15px;
    padding: 20px;
    margin-top: 120px;
    text-align: center;

    max-width: 1200px;
    margin: 0 auto;

    box-shadow: inset 0 0 20px 10px rgba(0, 10, 30, 0.8);
}

/* ========================================================== */
/* List Elements */
/* ========================================================== */

ul li
{
    list-style: none;
}

.topSkill
{
    font-weight: bold;
    font-size: large;
}

/* ========================================================== */
/* Generic Elements */
/* ========================================================== */

.center
{
    margin: 2rem auto;
}

a
{
    color: rgb(55, 12, 136);
}

/* ========================================================== */
/* Page Specific Styling Elements */
/* ========================================================== */

body.EnfablerPage
{
    background-color: rgb(48, 27, 4);
    background-image: url(https://img.freepik.com/premium-vector/vintage-wooden-background-cartoon-brown-wood-table-great-design-any-purposes_450469-201.jpg);
    background-repeat: repeat;
    background-size: 100%;
    background-attachment: fixed;

    main
    {
        background: url(https://media.istockphoto.com/id/182154211/photo/old-paper-textere.webp?b=1&s=170667a&w=0&k=20&c=ym_eO6PKLl6itLgksTBO-ykUVtQwYabUfWXYyuL2iCU=) center/cover papayawhip;
        background-size: 100%;

        box-shadow: inset 0 0 20px 10px rgba(30, 11, 0, 0.8);

        font-family: "Merienda", cursive;
        font-optical-sizing: auto;
        font-style: normal;
    }

    .devlogs
    {
        background-color: rgb(76, 59, 102);
        border: rgb(0, 0, 0) solid 2px;
        border-radius: 15px 15px 40px 15px;
        text-align: left;
        line-height: 1;

        padding-top: 0px;

        box-shadow: inset 0 0 10px 5px rgba(44, 19, 3, 0.8);

        background: url(https://img.itch.zone/aW1hZ2UvMjMyNDk1MC8xNDkyMTA4NS5wbmc=/original/EzDSge.png) center/cover no-repeat rgb(94, 82, 66);
        background-blend-mode: exclusion;
    }
}