/* ========================================================== */
/* Functions */
/* ========================================================== */

@function px-pc($target, $context: $max-width)
{
    @return ($target/$context) * 100%;
}

@function per-line($items)
{
    $g-pct: px-px($gutter) * 2;
    $g-total: $items * $g-pct;
    @return (100%/$items)- $g-total;
}

@function GetButtonColor($pushed: false, $nav: false)
{
    $action: "base";
    $type: "default";
    
    @if ($pushed)
    {
        $action: "pushed";
    }
    
    @if ($nav)
    {
        $type: "navbar";
    }

    @return map-get(map-get($color-button, $type), $key: $action);
}