/* ========================================================== */
/* Variables */
/* ========================================================== */

// Colours
$black          : #000;
$grey           : #888;
$darkgrey       : rgb(49, 49, 49);
$white          : #fff;
$transparent    : rgba(0, 0, 0, 0);

//Default Page Colours
$color-primary              : rgb(46, 52, 56);
$color-secondary            : rgb(7, 75, 58);
$color-paper-primary        : rgb(147, 153, 187);
$color-paper-secondary      : rgb(62, 122, 110);

$color-header               : rgb(22, 22, 22);
$color-navbar               : $darkgrey;
$color-footer               : $darkgrey;

$color-text-light           : lighten(complement($color-header), 75%);
$color-text-dark            : $black;
$color-text-link            : rgb(32, 164, 252);

$color-shadow               : rgba(1, 0, 30, 0.8);
$color-shadow-transparent   : rgba(0, 11, 30, 0.4);
$color-border               : $black;

$color-button:
(
    default: 
    (
        base: $color-secondary,
        pushed: rgb(23, 7, 65),
    ),
    navbar:
    (
        base: rgb(23, 7, 65),
        pushed: $color-secondary,
    )
);

$color-button-base          : $color-secondary;
$color-button-pushed        : rgb(23, 7, 65);

$color-navbutton-base          : rgb(22, 22, 22);
$color-navbutton-pushed        : $color-secondary;

$hero-img-shadow            : 2px 4px 6px $color-shadow;

//Button Shadows
$btn-shadow                 : 1px 2px 3px $color-shadow;
$btn-shadow-inset           : inset 0 0 20px 10px rgba($color-shadow, 0.2);
$btn-shadow-inset-small     : inset 0 0 6px 4px rgba($color-shadow, 0.2);
$shadow-none                : 0 0 0 0 $color-shadow-transparent;

//Game Specific Colours
$game-themes:
(
    "enfabler" : #ff9900,
    "coa" : #a1a,
    "creak" : #11a,
);

//Font Stacks
$fontstack-default          : 'Courier New', Courier, monospace;
$fontstack-paper            : "Merienda", cursive;

// Media Query Breakpoints
$brk-narrow        : "screen and (min-width: 580px), (orientation:landscape)";
$brk-wide          : "screen and (min-width: 1047px), (orientation:landscape)";
$brk-full          : "screen and (min-width: 1275px)";